
body
{
    background-color: #085C66; 
	
}
.container{
	font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
	background-color: #FFFFFF;
	box-shadow: 1px 1px 12px #555;
	font-family: Cambria;
}

header{
	
	font-size: 16px;
	margin: auto;
	width: 900px;
	height: 550;
}	
h1{
	text-align: right;
	font-size: 35px;
	color:#085C66;
}
strong{
	font-size: 25px;
	

}
a:visited 
{
    color: #AAA; 
}


